@{
    ViewBag.Title = "Home Page";
}

@using CurrencyTracker.Utils;

@using (Ajax.BeginForm("Chart", new AjaxOptions { UpdateTargetId = "chart", LoadingElementId = "loading" }))
{
    <select name="currency">
        @foreach (Currency currency in ViewBag.Currencies)
        {
            var currencyString = currency.Code.ToString() + ";" + currency.NumberCode.ToString();
            <option value="@currencyString">@currency.Name</option>
        }
    </select>

    <select name="month">
        @foreach (Month month in ViewBag.Months)
        {
            <option value="@month.Number">@month.Name</option>
        }
    </select>
    <input type="submit" />
}

<div id="loading">
    <p>Data loading...</p>
</div>

<div id="chart">

</div>